<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpaceWar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>475852521ECA8CDF00991FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4758526C1ECA8CDF00991FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>475852771ECA8CDF00991FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
